.variant{
    display: flex;
    flex-direction: row;
}

.image {
    border: 1px solid white; 
    border-radius: 30px;
    height: 450px;
    min-width: 40vw;
    margin-left: 70px; 
    margin-top: 110px;
    overflow: hidden; 
}

.image img {
    height: 100%; 
    width: 100%; 
    object-fit: cover;
    border-radius: 30px; 
}

.column {
    display: flex;
    flex-direction: column;
    padding-left: 70px;
    padding-top: 100px;
}

.title {
    font-size: 50px;
    font-weight: 600;
    margin-bottom: 10px;
}

.description {
    font-size: 25px;
    width: 600px;
}

.price {
    border: 1px solid;
    width: 60px;
    padding: 15px 70px;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 255, 0.829);
    color:white;
    border-radius: 10px;
    margin-top: 50px;
    margin-left: 400px;

}

.bold{
    font-size: 50px;
    width: 400px;
   margin-left: 30px;
   margin-top: 40px;
   align-self: center;
}
